@charset "UTF-8";

:root {
    --tab: #191919;
    --home: #00f7ff;
    --piloto: #ff0000;
    --contact: #adff2f;
}

/* MENU */
.nav {
    width: 35em;
    height: 7em;
    padding: 0 1em 0 0;

    display: flex;
    align-items: center;
    justify-content: end;

    position: relative;
    margin: 0 0 0 30vw;
    overflow: hidden;
}

.nav__links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}

.nav__link a {
    color: #fff;
    opacity: 0.5;
    padding: 0 50px;
}

.nav__link span {
    font-size: 2.5rem;
}

.nav__light {
    position: absolute;
    top: 0;
    left: 1.3em;
    background-color: #fff;
    width: 5em;
    height: .4em;
    border-radius: 2px;

    display: flex;
    justify-content: center;

    transition: .3s ease;
}

.nav__light::before {
    content: '';
    width: 7em;
    height: 6em;
    position: absolute;
    top: .4em;
    background: linear-gradient(to bottom, rgba(255,255,255,.3)-50%, rgba(255,255,255,0)90%);
    clip-path: polygon(30% 0, 70% 0, 100% 100%, 0% 100%);
}

.nav__link.active a {
    opacity: 1;
}

.nav__link.active a #home-icon {
    color: var(--home);
    text-shadow: 0 0 15px var(--home),
    0 0 30px var(--home),
    0 0 45px var(--home),
    0 0 60px var(--home);
}

.nav__link:nth-child(1).active ~ .nav__light {
    background-color: var(--home);
}

.nav__link.active a #pilotos-icon {
    color: var(--piloto);
    text-shadow: 0 0 15px var(--piloto),
    0 0 30px var(--piloto),
    0 0 45px var(--piloto),
    0 0 60px var(--piloto);
}

.nav__link:nth-child(2).active ~ .nav__light {
    background-color: var(--piloto);
}

.nav__link.active a #contact-icon {
    color: var(--contact);
    text-shadow: 0 0 15px var(--contact),
    0 0 30px var(--contact),
    0 0 45px var(--contact),
    0 0 60px var(--contact);
}

.nav__link:nth-child(3).active ~ .nav__light {
    background-color: var(--contact);
}