@charset "UTF-8";
/* SLIDES */
.slider {
    margin: 40px auto;
    max-width: 800px;
    max-height: 400px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.589);
    border-radius: 20px;
    box-shadow: 0px 0px 25px #ff0000;

}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 800px;
}

.manual-navegador {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 40px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: rgb(255, 0, 0);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

#radio5:checked ~ .first {
    margin-left: -100%;
}

#radio6:checked ~ .first {
    margin-left: -125%;
}

.navegador-auto div {
    border: 2px solid #ff0000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navegador-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navegador-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navegador-auto .auto-btn1 {
    background-color: #ff0000;
}

#radio2:checked ~ .navegador-auto .auto-btn2 {
    background-color: #ff0000;
}

#radio3:checked ~ .navegador-auto .auto-btn3 {
    background-color: #ff0000;
}

#radio4:checked ~ .navegador-auto .auto-btn4 {
    background-color: #ff0000;
}

#radio5:checked ~ .navegador-auto .auto-btn5 {
    background-color: #ff0000;
}

#radio6:checked ~ .navegador-auto .auto-btn6 {
    background-color: #ff0000;
}